XMLMaritimoVUCEM.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLSchema.xsd" xmlns:mstns="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GuiaHouseMaritimaVUCEM">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Origen">
          <xs:complexType>
            <xs:attribute name="Pais" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="3"/>
                  <xs:maxLength value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Puerto" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="3"/>
                  <xs:maxLength value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Destino">
          <xs:complexType>
            <xs:attribute name="Pais" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="3"/>
                  <xs:maxLength value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Puerto" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="3"/>
                  <xs:maxLength value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="UltimoPuerto" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="Pais" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="3"/>
                  <xs:maxLength value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Puerto" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="3"/>
                  <xs:maxLength value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Remitentes" minOccurs="1" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Remitente" minOccurs="3" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="TipoRemitente" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:enumeration id="Importador" value="1"/>
                          <xs:enumeration id="Consignatario" value="2"/>
                          <xs:enumeration id="Notificante" value="3"/>
                          <xs:enumeration id="SegundoNotificante" value="4"/>
                          <xs:enumeration id="Embarcador" value="5"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Nombre" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="60"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="RFC" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="12"/>
                          <xs:maxLength value="13"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Pais" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="3"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Domicilio" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="110"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Estado" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="2"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="CodigoPostal" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="15"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Contacto" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="60"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TelefonoContacto" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="256"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TipoTelefono" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration id="Casa" value="C"/>
                          <xs:enumeration id="Negocio" value="N"/>
                          <xs:enumeration id="Celular" value="M"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="CorreoContacto" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="256"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Contenedores" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Contenedor" maxOccurs="unbounded" minOccurs="1" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Mercancias" maxOccurs="1" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Mercancia" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MercanciasPeligrosas" maxOccurs="1" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MercanciaPeligrosa" minOccurs="1" maxOccurs="999">
                                        <xs:complexType >

                                          <xs:attribute name="ClaseOnu" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="4"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="NumeroOnu" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="4"/>
                                                <xs:maxLength value="10"/>
                                                <xs:pattern value="UN[0-9]{4,4}"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="Contacto" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="24"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="Descripcion" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="2"/>
                                                <xs:maxLength value="60"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Embalaje" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                    <xs:minLength value="3"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="MarcasNumeros" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="48"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Piezas" use="required" type="xs:integer"/>
                              <xs:attribute name="Peso" use="required" type="xs:integer" />
                              <xs:attribute name="UnidadPeso" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:integer">
                                    <xs:enumeration id="m_ToneladasMetricas" value="21"/>
                                    <xs:enumeration id="m_Kilogramos" value="1"/>
                                    <xs:enumeration id="m_Libras" value="20"/>
                                    <xs:enumeration id="m_ToneladasMedidas" value="14"/>
                                    <xs:enumeration id="m_ToneladaCorta" value="22"/>
                                    <xs:enumeration id="m_ToneladaLarga" value="23"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="PaisOrigen" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                    <xs:minLength value="3"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="FraccionArancelaria" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                    <xs:minLength value="6"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Descripcion" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="45"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="TipoContenedor" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="TipoCarga" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration id="ECL" value="E"/>
                        <xs:enumeration id="FCL" value="F"/>
                        <xs:enumeration id="LCL" value="L"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="NumeroContenedor" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="22"/>
                        <xs:pattern value="^[a-zA-Z]{4}-?[0-9]{1,18}$"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Largo" use="optional" type="xs:integer"/>
                  <xs:attribute name="Ancho" use="optional" type="xs:integer"/>
                  <xs:attribute name="Alto" use="optional" type="xs:integer"/>
                  <xs:attribute name="TipoEquipo" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="4"/>
                        <xs:maxLength value="4"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="CAAT" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
            <xs:minLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CAATNaviera" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Manifiesto" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="14"/>
            <xs:minLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="HBL" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
            <xs:minLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="MBL" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
            <xs:minLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>      
      <xs:attribute name="Aduana" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TipoOperacion" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration id="Importacion" value="1"/>
            <xs:enumeration id="Exportacion" value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Movimiento" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration id="Nuevo" value="1"/>
            <xs:enumeration id="Rectificar" value="2"/>
            <xs:enumeration id="Eliminacion" value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Embalaje" use ="required">
        <xs:simpleType>
          <xs:restriction base ="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TotalPiezas" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="PesoTotal" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="UnidadPeso" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration id="ToneladasMetricas" value="21"/>
            <xs:enumeration id="Kilogramos" value="1"/>
            <xs:enumeration id="Libras" value="20"/>
            <xs:enumeration id="ToneladasMedidas" value="14"/>
            <xs:enumeration id="ToneladaCorta" value="22"/>
            <xs:enumeration id="ToneladaLarga" value="23"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
	  <xs:attribute name="FechaArriboSalida" use="required" type="xs:date"/>
    </xs:complexType>
  </xs:element>
</xs:schema>